[submodule "lib/znc"]
	path = lib/znc
	url = https://github.com/sshirokov/ZNC.el
	ignore = dirty
[submodule "lib/emacs-for-python"]
	path = lib/emacs-for-python
	url = https://github.com/gabrielelanaro/emacs-for-python.git
	ignore = dirty
[submodule "lib/emacs-flymake"]
	path = lib/emacs-flymake
	url = https://github.com/illusori/emacs-flymake.git
	ignore = dirty
[submodule "lib/autopair"]
	path = lib/autopair
	url = https://github.com/capitaomorte/autopair.git
	ignore = dirty
[submodule "lib/starter-kit"]
	path = lib/starter-kit
	url = https://github.com/technomancy/emacs-starter-kit.git
	ignore = dirty
[submodule "lib/ido-hacks"]
	path = lib/ido-hacks
	url = https://github.com/scottjad/ido-hacks.git
	ignore = dirty
[submodule "lib/smex"]
	path = lib/smex
	url = https://github.com/nonsequitur/smex.git
	ignore = dirty
[submodule "lib/better-defaults"]
	path = lib/better-defaults
	url = https://github.com/technomancy/better-defaults.git
	ignore = dirty
[submodule "lib/js2-mode"]
        path = lib/js2-mode
        url = https://github.com/mooz/js2-mode.git
	ignore = dirty
[submodule "lib/yasnippet"]
	path = lib/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
	ignore = dirty
[submodule "lib/auctex"]
	path = lib/auctex
	url = https://github.com/jwiegley/auctex.git
	ignore = dirty
[submodule "lib/python"]
	path = lib/python
	url = https://github.com/fgallina/python.el.git
	branch = emacs-24
	ignore = dirty
[submodule "lib/emacs-ipython-notebook"]
	path = lib/emacs-ipython-notebook
	url = https://github.com/tkf/emacs-ipython-notebook.git
	ignore = dirty
[submodule "lib/popup"]
	path = lib/popup
	url = https://github.com/auto-complete/popup-el.git
	ignore = dirty
[submodule "lib/multiple-cursors"]
	path = lib/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
	ignore = dirty
[submodule "lib/browse-kill-ring"]
	path = lib/browse-kill-ring
	url = https://github.com/browse-kill-ring/browse-kill-ring.git
	ignore = dirty
[submodule "lib/flx"]
	path = lib/flx
	url = https://github.com/lewang/flx.git
	ignore = dirty
[submodule "lib/projectile"]
	path = lib/projectile
	url = https://github.com/bbatsov/projectile.git
	ignore = dirty
[submodule "lib/dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el.git
	ignore = dirty
[submodule "lib/s"]
	path = lib/s
	url = https://github.com/magnars/s.el.git
	ignore = dirty
[submodule "lib/web-mode"]
	path = lib/web-mode
	url = https://github.com/fxbois/web-mode.git
