[submodule "lib/znc"]
	path = lib/znc
	url = https://github.com/sshirokov/ZNC.el
	ignore = dirty
[submodule "lib/autopair"]
	path = lib/autopair
	url = https://github.com/capitaomorte/autopair.git
	ignore = dirty
[submodule "lib/starter-kit"]
	path = lib/starter-kit
	url = https://github.com/technomancy/emacs-starter-kit.git
	ignore = dirty
[submodule "lib/ido-hacks"]
	path = lib/ido-hacks
	url = https://github.com/scottjad/ido-hacks.git
	ignore = dirty
[submodule "lib/smex"]
	path = lib/smex
	url = https://github.com/nonsequitur/smex.git
	ignore = dirty
[submodule "lib/better-defaults"]
	path = lib/better-defaults
	url = https://github.com/technomancy/better-defaults.git
	ignore = dirty
[submodule "lib/js2-mode"]
        path = lib/js2-mode
        url = https://github.com/mooz/js2-mode.git
	ignore = dirty
[submodule "lib/auctex"]
	path = lib/auctex
	url = https://github.com/jwiegley/auctex.git
	ignore = dirty
[submodule "lib/python"]
	path = lib/python
	url = https://github.com/fgallina/python.el.git
	branch = emacs-24
	ignore = dirty
[submodule "lib/emacs-ipython-notebook"]
	path = lib/emacs-ipython-notebook
	url = https://github.com/tkf/emacs-ipython-notebook.git
	ignore = dirty
[submodule "lib/popup"]
	path = lib/popup
	url = https://github.com/auto-complete/popup-el.git
	ignore = dirty
[submodule "lib/multiple-cursors"]
	path = lib/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
	ignore = dirty
[submodule "lib/browse-kill-ring"]
	path = lib/browse-kill-ring
	url = https://github.com/browse-kill-ring/browse-kill-ring.git
	ignore = dirty
[submodule "lib/flx"]
	path = lib/flx
	url = https://github.com/lewang/flx.git
	ignore = dirty
[submodule "lib/projectile"]
	path = lib/projectile
	url = https://github.com/bbatsov/projectile.git
	ignore = dirty
[submodule "lib/dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el.git
	ignore = dirty
[submodule "lib/s"]
	path = lib/s
	url = https://github.com/magnars/s.el.git
	ignore = dirty
[submodule "lib/web-mode"]
	path = lib/web-mode
	url = https://github.com/fxbois/web-mode.git
	ignore = dirty
[submodule "lib/ace-jump-mode"]
	path = lib/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
	ignore = dirty
[submodule "lib/god-mode"]
	path = lib/god-mode
	url = https://github.com/chrisdone/god-mode.git
	ignore = dirty
[submodule "lib/switch-window"]
	path = lib/switch-window
	url = https://github.com/dimitri/switch-window.git
	ignore = dirty
[submodule "themes"]
	path = themes
	url = https://github.com/bbatsov/zenburn-emacs.git
	ignore = dirty
[submodule "lib/minimap"]
	path = lib/minimap
	url = https://github.com/dengste/minimap.git
	ignore = dirty
[submodule "lib/adaptive-wrap"]
	path = lib/adaptive-wrap
	url = https://github.com/emacsmirror/adaptive-wrap.git
	ignore = dirty
[submodule "lib/php-mode"]
	path = lib/php-mode
	url = https://github.com/ejmr/php-mode.git
	ignore = dirty
[submodule "lib/ggtags"]
	path = lib/ggtags
	url = https://github.com/leoliu/ggtags.git
	ignore = dirty
[submodule "lib/haml-mode"]
	path = lib/haml-mode
	url = https://github.com/nex3/haml-mode.git
	ignore = dirty
[submodule "lib/sass-mode"]
	path = lib/sass-mode
	url = https://github.com/nex3/sass-mode.git
	ignore = dirty
[submodule "themes/zenburn"]
	path = themes/zenburn
	url = https://github.com/bbatsov/zenburn-emacs.git
	ignore = dirty
[submodule "themes/gotham"]
	path = themes/gotham
	url = https://github.com/wasamasa/gotham-theme.git
	ignore = dirty
[submodule "themes/monokai"]
	path = themes/monokai
	url = https://github.com/oneKelvinSmith/monokai-emacs.git
	ignore = dirty
[submodule "themes/spacegray"]
	path = themes/spacegray
	url = https://github.com/bruce/emacs-spacegray-theme.git
	ignore = dirty
[submodule "lib/tern"]
	path = lib/tern
	url = https://github.com/marijnh/tern.git
[submodule "lib/git-gutter-plus"]
	path = lib/git-gutter-plus
	url = https://github.com/nonsequitur/git-gutter-plus.git
	ignore = dirty
[submodule "lib/git-gutter-fringe-plus"]
	path = lib/git-gutter-fringe-plus
	url = https://github.com/nonsequitur/git-gutter-fringe-plus.git
	ignore = dirty
[submodule "lib/helm"]
	path = lib/helm
	url = https://github.com/emacs-helm/helm.git
	ignore = dirty
[submodule "lib/async"]
	path = lib/async
	url = git@github.com:jwiegley/emacs-async.git
	ignore = dirty
[submodule "lib/magit"]
	path = lib/magit
	url = https://github.com/magit/magit.git
[submodule "lib/git-modes"]
	path = lib/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "lib/f"]
	path = lib/f
	url = https://github.com/rejeep/f.el.git
    ignore = dirty
[submodule "lib/epresent"]
	path = lib/epresent
	url = https://github.com/eschulte/epresent.git
    ignore = dirty
[submodule "lib/org-download"]
	path = lib/org-download
	url = git@github.com:abo-abo/org-download.git
[submodule "lib/discover.el"]
	path = lib/discover.el
	url = git@github.com:mickeynp/discover.el.git
[submodule "lib/makey"]
	path = lib/makey
	url = git@github.com:mickeynp/makey.git
